
{% extends 'layouts/main-layout.html'%}

{% block content %}

  {% include 'status-i.html' %}

    <div class="row"> <!-- ROW2 -->

          <div class="col-md-7">
            <div class="content">
              <h3>Shows Today:</h3>
              <p>{{ today }}</p>
            </div>
            <hr>
            <div class="card card-body">
              <div class="content">
                <a class="btn btn-primary col-md-4" href="{% url 'create_show' %}"> Add Show Today </a>
              </div>
              <br>
              <table class="table table-hover table-sm">
                <tr>
                  <th></th>
                  <th>Artist</th>
                  <th>Place</th>
                  <th>Time</th>
                  <th>Update</th>
                  <th>Remove</th>
                </tr>
                {% for scheduledShow in scheduledShows %}
                <tr>
                  <td></td>
                  <td><a class="btn btn-small" href="{% url 'artist' scheduledShow.Artist.Nickname %}">{{ scheduledShow.Artist.Nickname }}</a></td>
                  <td>{{ scheduledShow.Place }}</td>
                  <td>{{ scheduledShow.Start|date:"H:i" }} - {{ scheduledShow.End|date:"H:i" }}</td>
                  <td><a class="btn btn-sm btn-info" href="#">UPDATE</a></td>
                  <td><a class="btn btn-sm btn-danger"href="#">REMOVE</a></td>
                </tr>
                {% endfor%}
              </table>
            </div>
          </div>
     </div>
{% endblock %}
