
<br>

<div class="row statusrow">

  <div class="col">
    <div class="col-md">
      <div class="card text-center text-white mb-3" id="total-artists">
        <div class="card-header">
          <h5 class="card-title">Total Artists</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title"></h3>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="col-md">
      <div class="card text-center text-white mb-3" id="shows-months">
        <div class="card-header">
          <h5 class="card-title">Shows/Month</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title"></h3>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="col-md">
      <div class="card text-center text-white mb-3" id="cost-month">
        <div class="card-header">
          <h5 class="card-title">Cost/Month</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title"></h3>
        </div>
      </div>
    </div>
  </div>


</div>
